{% extends 'layout.html.twig' %}

{% set active = 'concerts' %}

{% block content %}

     <h2>{{ concert.getTitle }}</h2>
         <div>
         
              {% if concert.getImage %}
                  <img class="descr" src="/images/{{ concert.getImage }}" alt="{{ concert.getTitle }}" align="right">
              {% endif %}
              <div>
                 {{ concert.getDescription }}
              </div>
              
              <div>{{ concert.getDate }} {{ concert.getTime }}</div>
              
              <h4>Выберите места</h4>
                
              <form method="post" action="/concerts/{{ concert.getId }}">
                <input type="hidden" name="stage" value="1">
                <div class="scene">сцена</div>
                <div class="hall">
                
                {% for i in 1..15 %}
                     <div class="row">
                         
                         {% if i <= 5 %}
                             {% set class = 'price_type_1'%}
                             
                         {% elseif i >= 5 and i <= 10  %}
                             {% set class = 'price_type_2'%}
                             
                         {% elseif i >= 10  %}    
                             {% set class = 'price_type_3'%}  
                               
                         {% endif %}
                         
                         <span class="rowseat {{class}}"> ряд {{ i }}</span>
                         
                         {% for k in 1..20 %}
                         
                             <div class="seat">{{ k }}
                             <br/>
                             
                             {% if seat[i][k]|default(false) %}
                             
                                <div class="nofree"></div>
                             {% else %}   
                                <input type="checkbox" name="seat[{{ i }}][{{ k }}]">
                             {% endif %}
                             
                             
                             
                             </div>
                         
                         {% endfor %}
                     </div>
                {% endfor %}
                            
                </div>
                
                <ul class="price_info">
                {% for pr in price %}
                    <li class="price_type_{{ pr.type }}">
	                    Цена: {{pr.price}} руб.
	                    Свободных мест: {{pr.free_seats}} руб.
                    </li>
                {% endfor %}
                
                </ul>
                
                {% if errors | default(false) %}
	                {% for e in errors %}
	                     <div class="alert alert-warning" role="alert">{{ e.getMessage }}</div>
	                {% endfor %}
                {% endif %}
                
                <div class="form-group row">
                    <div class="col-5" >&nbsp;</div>
                    <div class="col-2" ><button class="btn btn-lg btn-primary btn-block" type="submit">Купить</button></div>
                </div>
                </form>
          
         </div>

{% endblock %}
