{% extends 'layout.html.twig' %}

{% set active = 'homepage' %}

{% block content %}

   <h2>{{ concert.getTitle }}</h2>
         <div>
         
              {% if concert.getImage %}
                  <img class="descr" src="/images/{{ concert.getImage }}" alt="{{ concert.getTitle }}" align="right">
              {% endif %}
              <div>
                 {{ concert.getDescription }}
              </div>
              
              <div>{{ concert.getDate }} {{ concert.getTime }}</div>
              
              <h4>Ваши места:</h4>
             
         </div>
   
        <form action="/order/{{ concert.getId }}" method="POST">
        <ul>
        
         {% for seat in seat %}
            <li>
                Цена: {{ seat.price }} 
                Ряд: {{ seat.row }}
                Место: {{ seat.seat }}
            </li>
        {% endfor %}
        </ul>
        
         <div>Итого: {{order.count }} билетов на сумму {{order.total }} </div>
        
        <div class="form-group row">
            <label for="Email" class="col-2 col-form-label">Ваш Email:</label>
            <div class="col-10">
                <input type="email" id="Email" required name="Email" class="form-control"> 
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-2" >&nbsp;</div>
            <div class="col-3" ><button class="btn btn-lg btn-primary btn-block" type="submit">Заказать</button></div>
        </div>
        
        </form>
       
    


{% endblock %}